
*{
  box-sizing: border-box;
}

body {
  font-size: 14px;
  font-weight: 400;
  color: #484848;
  letter-spacing: 0.03em;
  font-family: Roboto, sans-serif;
  font-style: normal;
  background-color: #ffffff;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media screen and (min-width: 320px) {
  .container {
    width: 320px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
  }
}

.none-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,h2,h3,p {
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

header{
  background-color: #99ccff;
  height: 102px;
  padding-top: 15px;
  padding-bottom: 22px;
}

.site_logo{
  display: block;
  margin: 0 auto;
  text-align: center;
  font-size: 40px;
  color: #fff;
}

.site_logo_color{
  color:#162b4d;
}

.menu-burger{
  width: 14px;
  height: 14px;
  margin: 0 auto;
  margin-bottom:20px;
  color: #fff;
}

.site_nav{
  display: none;
}


@media screen and (min-width: 768px) {

  .header {
    height: 154px;
    padding-top: 24px;
    padding-bottom: 33px;
  }

  .site_logo{
    font-size: 60px;
  }

}


@media screen and (min-width: 1280px) {

  .header {
    height: auto;
    padding-top: 0;
    padding-bottom: 0;
    display: flex;
  }

  .site_logo{
    font-size: 40px;
  }

  .menu-burger{
  display: none;
  margin-bottom: 40px;
  }

  .site_nav{
    display: flex;
  }

  .main-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav_menu{
    display: flex;
    
    margin-left: auto;
    margin-right: -30px;
  }

  .site_logo{
    text-align: left;
    margin:0;
  }

  .nav_menu_item{
    margin-right: 30px;
    padding-top:27px;
    padding-bottom: 27px;

  }

  .nav_menu_link{
    font-size: 20px;
    color: #fff;
  }

   .nav_menu_item:hover{
    background-color: #162b4d;
  }
}

.page_main{
  padding-top: 20px;
}

.hero{
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-image: url('../img/section1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.page_title{
  color: #fff;
  font-size: 30px;
  font-weight: 100;
  margin-bottom: 20px;
}

.hero_text{
  color: #fff;
  font-size:12px;
  font-weight: 300;
}

@media screen and (min-width: 768px) {
  .hero{
    height: 360px;
  }

  .page_title{
    font-size: 50px;
  }
  
  .hero_text{
    font-size: 14px;
  }
}

@media screen and (min-width: 1280px) {
  .hero{
    height: 360px;
  }
  
  .hero_text{
    font-size: 16px;
  }
}

.main_content_item{
  width: 100%;
}

.main_content{
  padding-top: 10px;
  padding-bottom: 24px;
}

.main_content_news{
  display: none;
}

.text-wrapper{
padding: 20px 15px;
 background-color: #F3D250;
 text-align: center;
}


.card_title{
  margin-bottom: 15px;
  font-weight: 100;
  color: #484848;
  font-size: 30px;

}

.card_text{
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 8px;
}

.card_date{
  font-size: 20px;
  font-weight: 100;
  font-size: 20px;

}

.card_date_day{
  text-transform: uppercase;
  font-size: 30px;
}

.main_content_item:nth-child(2) .text-wrapper{
  background-color: #8D8741;
}

.main_content_item:nth-child(3) .text-wrapper{
  background-color: #659DBD;
}

.main_content_item:nth-child(4) .text-wrapper{
  background-color: #DAAD86; 
}

.main_content_item .text-wrapper:hover{
  opacity: 0.8;
  cursor: pointer;
}


@media screen and (min-width: 768px) {
  .main-container{
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
  }
  .main_content{
    display: flex;
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .main_content_list{
    width: 62%;
  }

  .main_content_news{
    width: 38%;
  }

  .main_content_news{
  display: block;
  }

  .main_content_item{
    width: 95%;
  }

  .news_item{
    width: 98%;
    border: 1px solid #000;
    margin-bottom: 18px;
  }

  .news_image {
    margin-bottom:26px;
  }

  .content-wrapper{
    padding-top: 30px;
    padding-bottom: 20px;
    padding-left:20px;
  }

  .news-_title{
    text-align: left;
    font-weight: 100;
    font-size: 30px;
    margin-bottom: 28px;
  }

  .news_text{
    margin-bottom: 20px;
    text-align: left;
  }

  .btn{
    width: auto;
    height: 24px;
    text-transform: uppercase;
    background-color: #fff;
    font-size: 12px;
    vertical-align: middle;
  }

}

@media screen and (min-width: 1280px){
  
  .main_content{
    padding-bottom: 37px;
  }

  .card_image{
    width: 50%;
  }

  .text-wrapper{
    position: relative;
    width: 50%;
    display: flex;
    flex-direction: column;
    text-align: unset;
  }

  .change-width{
    width: 80%;
  }

  .card_date{
    position: absolute;
    
  }

  .card_date_day{
    display: block;
  }

  .main_content_item:nth-child(2n+1) .card-wrapper{
    display: flex;
  }

  .main_content_item:nth-child(2n+1) .text-wrapper{
    align-items: flex-start;
  }

  .main_content_item:nth-child(2n+1) .card_date{
    top:10px;
    right: 10px;
  }  

  
  .main_content_item:nth-child(2n) .card-wrapper{
    display: flex;
    flex-direction: row-reverse;
  }

  .main_content_item:nth-child(2n) .text-wrapper{
    align-items: flex-end;
    text-align: right;
  }

  .main_content_item:nth-child(2n) .card_date{
    top:10px;
    left: 10px;
  } 
}

.btn:hover{
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
  font-weight: 700;
  cursor: pointer;
}

.page_footer{
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #162b4d;
  
}

.footer-wrapper{
  width: 70%;
  margin: 0 auto;
  font-weight: 100;
   color: #fff;
  line-height: 1.5;
  text-align: center;
}

.footer_info{
  margin-bottom: 5px;
}

@media screen and (min-width: 768px) {
  .footer-wrapper{
    width: 50%;
  }
}

@media screen and (min-width: 1280px) {
  .footer-wrapper{
    display: flex;
    width: 97%;
    justify-content: space-between;
     text-align: left;
     margin: 0;
    
  }

  .footer-container{
  display: flex;
  justify-content: space-between;
  }

  .footer_author{
    margin-left: auto;
  }

  .page_footer{
    display: flex;
    align-items: center;
  }
 
}